body{
    margin: 0px;
}
#Top-bar{
    width: 100%;
    height: 77px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    box-sizing: border-box;
    position: fixed;
    box-shadow:10px 0px 4px gainsboro;

}
#logo{
    width:80px;
}
#Home{
    color: rgb(9, 7, 153);
    font-size: 20px;
    margin-right: 25px;
}
.Items{
    font-size: 14px;
    margin-right: 25px;
}
#Account{
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: pink;
    color: royalblue;
}
#Text-wrapper{
    width: 330px;
    background-color:white;
    margin-left:70px;
    margin-top: 100px;
    padding: 0px 25px;
}
#Heading{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}
#New-account{
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: rgb(14, 44, 214);
    color: white;
    margin-top: 10px;
    margin-bottom: 60px;
}

.Sub-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(243, 235, 235, 0.308);
    border-radius: 12px;
    padding: 8px 14px;
    margin-top: 0px;
    margin-bottom:10px;
}
.Sub-div1{
    display: flex;
    flex-direction:row;
    align-items: center;
   
}
.items1{
    margin-right: 14px;
}
#Akash{
    display: flex;
}
#landing-section-image{
    margin-left: 80px;
    margin-top: 100px;
}
#red-button{
    border: none;
    background-color:rgb(228, 33, 19);
    padding: 2px 6px;
    border-radius: 2px;
}
#green-button{
    border: none;
    background-color:palegreen;
    padding: 2px 6px;
    border-radius: 2px;
}
#yellow-button{
    border: none;
    background-color:rgba(235, 235, 19, 0.603);
    padding: 2px 6px;
    border-radius: 2px;
}
#Pink-button{
    border: none;
    background-color: pink;
    padding: 2px 6px;
    border-radius: 2px;
}
.items12{
    margin-right: 14px;
    color: rgba(219, 219, 221, 0.973);
}
.a12:hover{
    transform: scale(1.1);
    background-color: whitesmoke;
}
#arrow{
    width: 35px;
    height: 35px;
    margin-left: 40px;
    margin-top: 15px;
}
#arrow-div{
    display: flex;
}
